* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --- MAIN COLORS --- */
  --dark-blue: #2b2e7e;
  --light-blue: #4f518a;
  --x-beige: #fcf0ec;
  --red: #e40512;
  --x-black: #1c1c1c;

  /* --- FONT SIZES --- */

  /* below the base */
  --font-size-2b: 0.625rem;
  --font-size-1b: 0.8125rem;

  /* the base */
  --font-size: 1rem;

  /* above the base */
  --font-size-1: 1.25rem;
  --font-size-2: 1.5625rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3.1875rem;
  --font-size-6: 4rem;
  --font-size-7: 5rem;

  /* --- LINE HEIGHTS --- */

  /* below the base */
  --line-height-2b: 2;
  --line-height-1b: 1.5385;

  /* the base */
  --line-height: 1.5;

  /* above the base */
  --line-height-1: 1.4;
  --line-height-2: 1.28;
  --line-height-3: 1.25;
  --line-height-4: 1.2;
  --line-height-5: 1.1765;
  --line-height-6: 1.125;

  /* --- LETTER SPACING --- */

  /* below the base */
  --letter-space-2b: 0.074em;
  --letter-space-1b: 0.05em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.022em;
  --letter-space-2: 0.0116em;
  --letter-space-3: 0.0025em;
  --letter-space-4: -0.004em;
  --letter-space-5: -0.0096em;
  --letter-space-6: -0.0137em;
}
header img {
  background-color: var(--x-beige);
  border-radius: 10px;
  margin-left: var(--font-size-2);
  aspect-ratio: 1/1;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 0.52rem;
  font-family: "Montserrat";
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: var(--letter-space-2b);
  position: fixed;
  z-index: 1;
  width: 100vw;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: none;
  height: 100%;
}
.active {
  color: var(--red);
}

body {
  background-color: #252422;
}

.cta_reservation_section {
  position: relative;
  background-color: var(--light-blue);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all ease 0.2s;
  margin-right: var(--font-size-2);
}
.cta_reservation_section:hover {
  background-color: #5053ac;
}
.new_feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2ch;
}
.new {
  background-color: rgb(2, 182, 2);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
}
/*aruchiwa project do not touch !!!*/

.title_restaurant {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  height: 60vh;
  width: 100%;
  aspect-ratio: 1254/520;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 18vh;
  color: var(--x-beige);
  overflow: hidden;
}

.title_restaurant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/resto_6 (1).jpg");
  background-size: cover;
  background-position: 50% 12%;
  filter: blur(4px); 
  transform: scale(1.1); /* évite les bordures de flou */
  z-index: -1; /*anim permis*/
}

.title_restaurant hgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8ch;
  font-family: "Black Han Sans";
  font-size: var(--font-size-5);
}

.blue {
  color: var(--dark-blue);
}
.red {
  color: var(--red);
}


.search_content {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
}

.search_bar {
  display: flex; 
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 8px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 58vh;
}
.search_bar i {
  font-size: 18px;
  color: #888;
  background: #eee;
  border-radius: 50%; 
  padding: 6px;
  margin-right: 10px; 
  cursor: pointer;
  transition: 0.3s;
}
.search_bar input {
  flex: 1; /* occupe tout l’espace restant */
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent; 
}
.icon_content {
  display: flex;
  flex-direction: row;
  background-color: #252422;
}

/*fin projet aruchiwa*/
