* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --- MAIN COLORS --- */
  --dark-blue: #2b2e7e;
  --light-blue: #4f518a;
  --x-beige: #fcf0ec;
  --red: #e40512;
  --x-black: #1c1c1c;

  /* --- FONT SIZES --- */

  /* below the base */
  --font-size-2b: 0.625rem;
  --font-size-1b: 0.8125rem;

  /* the base */
  --font-size: 1rem;

  /* above the base */
  --font-size-1: 1.25rem;
  --font-size-2: 1.5625rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3.1875rem;
  --font-size-6: 4rem;
  --font-size-7: 5rem;

  /* --- LINE HEIGHTS --- */

  /* below the base */
  --line-height-2b: 2;
  --line-height-1b: 1.5385;

  /* the base */
  --line-height: 1.5;

  /* above the base */
  --line-height-1: 1.4;
  --line-height-2: 1.28;
  --line-height-3: 1.25;
  --line-height-4: 1.2;
  --line-height-5: 1.1765;
  --line-height-6: 1.125;

  /* --- LETTER SPACING --- */

  /* below the base */
  --letter-space-2b: 0.074em;
  --letter-space-1b: 0.05em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.022em;
  --letter-space-2: 0.0116em;
  --letter-space-3: 0.0025em;
  --letter-space-4: -0.004em;
  --letter-space-5: -0.0096em;
  --letter-space-6: -0.0137em;
}
header img {
  background-color: var(--x-beige);
  border-radius: 10px;
  margin-left: var(--font-size-2);
  aspect-ratio: 1/1;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 0.52rem;
  font-family: "Montserrat";
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: var(--letter-space-2b);
  position: fixed;
  z-index: 1;
  width: 100vw;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 100%;
}
li {
  list-style: none;
  height: 100%;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: none;
  height: 100%;
}
.active {
  color: var(--red);
}
.cta_reservation_section {
  position: relative;
  background-color: var(--light-blue);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all ease 0.2s;
  margin-right: var(--font-size-2);
}
.cta_reservation_section:hover {
  background-color: #5053ac;
}
.new_feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2ch;
}
.new {
  background-color: rgb(2, 182, 2);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
}
.hero {
  /*-Les divs en row-*/
  background-color: var(--x-beige);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  place-items: center;
  padding-top: 8vh;
}
.hero_image{
  width: 100%;
}
.hero_image img {
  width: 90%;
}
.hero h1 {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-7);
  gap: 1rem;
}
.hero-p {
  margin-bottom: var(--font-size-1);
  font-family: "Black Han Sans";
  color: var(--x-black);
  line-height: var(--line-height-3);
}
.subtitle {
  font-family: "Montserrat";
}
.hero h1 span {
  font-family: "Black Han Sans";
  letter-spacing: var(--letter-space-6);
  align-self: flex-start;
}
.span_blue {
  color: var(--dark-blue);
}
.span_red {
  color: var(--red);
}
.hero_text {
  /*-Celui en column-*/
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 320px;
}
.cta_command {
  font-family: "Montserrat";
  background-color: #ffc43d;
  padding: 14px 10px;
  margin-top: 20px;
  border-radius: 15px;
  width: fit-content;
  font-weight: 500px;
  font-weight: bold;
  cursor: pointer;
}
.cta_command a {
  text-decoration: none;
  color: var(--x-black);
}
.carroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
}
.carroussel_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: var(--font-size);
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  padding: 0 20px;
  scrollbar-width: none;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-top: var(--font-size-4);
}
.carroussel_container::-webkit-scrollbar{
  display: none;
}
.carroussel_item {
  width: 22%;
  aspect-ratio: 3/4;
  border-radius: 10px;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin-block: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0 0 2px #777777;
}
.carroussel_item img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 80px);
  border-radius: 10px 10px 0 0;
}
.card_content {
  padding: 0 var(--font-size);
  width: 100%;
  height: 80px;
  border-radius: 0 0 10px 10px;
  background-color: hsla(238, 49%, 33%, 1);
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_content h3 {
  font-size: var(--font-size);
  color: white;
  font-weight: 800;
}
.card_content p {
  align-self: flex-end;
  color: white;
  font-size: var(--font-size-1b);
  margin-top: 10px;
}
.title {
  text-align: center;  
  margin-block: var(--font-size-1b);
}
.title h2{ 
  font-family: "Black Han Sans";
  font-size: var(--font-size-3);
}
.title p {
  font-family: "Montserrat";
}

/*aruchiwa project do not touch !!!*/
.title_restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 18vh; 
  color: #1c1c1c;
}
.title_restaurant hgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8ch;
  font-family:"Black Han Sans";
  font-size: var(--font-size-5);
}

.blue{
  color: var(--dark-blue);
}
.red{
  color: var(--red); 
}

/*fin projet aruchiwa*/
