* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
:root {
  /* --- MAIN COLORS --- */
  --dark-blue: #2b2e7e;
  --light-blue: #4f518a;
  --x-beige: #fcf0ec;
  --red: #e40512;
  --x-black: #1c1c1c;

  /* --- FONT SIZES --- */

  /* below the base */
  --font-size-2b: 0.625rem;
  --font-size-1b: 0.8125rem;

  /* the base */
  --font-size: 1rem;

  /* above the base */
  --font-size-1: 1.25rem;
  --font-size-2: 1.5625rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3.1875rem;
  --font-size-6: 4rem;
  --font-size-7: 5rem;

  /* --- LINE HEIGHTS --- */

  /* below the base */
  --line-height-2b: 2;
  --line-height-1b: 1.5385;

  /* the base */
  --line-height: 1.5;

  /* above the base */
  --line-height-1: 1.4;
  --line-height-2: 1.28;
  --line-height-3: 1.25;
  --line-height-4: 1.2;
  --line-height-5: 1.1765;
  --line-height-6: 1.125;

  /* --- LETTER SPACING --- */

  /* below the base */
  --letter-space-2b: 0.074em;
  --letter-space-1b: 0.05em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.022em;
  --letter-space-2: 0.0116em;
  --letter-space-3: 0.0025em;
  --letter-space-4: -0.004em;
  --letter-space-5: -0.0096em;
  --letter-space-6: -0.0137em;
}
header img {
  background-color: var(--x-beige);
  border-radius: 10px;
  margin-left: var(--font-size-2);
  aspect-ratio: 1/1;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 0.52rem;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: var(--letter-space-2b);
  position: fixed;
  z-index: 1;
  width: 100vw;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 100%;
}
header ul li {
  list-style: none;
  height: 100%;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  transition: transform 0.15s ease;
}
header ul li a:hover {
    transform: scale(1.03) !important;
    font-weight: 700;
    color: #e40510b3;
}
.active {
  color: var(--red);
}

body {
  background-color: #ffffff;
}

.cta_reservation_section {
  position: relative;
  background-color: var(--light-blue);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all ease 0.2s;
  margin-right: var(--font-size-2);
}
.cta_reservation_section:hover {
  background-color: #5053ac;
}
.new_feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2ch;
}
.new {
  background-color: rgb(2, 182, 2);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
}
/*aruchiwa project do not touch !!!*/

.title_restaurant {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  height: 60vh;
  width: 100%;
  aspect-ratio: 1254/520;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 18vh;
  color: var(--x-beige);
  overflow: hidden;
}

.title_restaurant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/resto_6 (1).jpg");
  background-size: cover;
  background-position: 50% 12%;
  filter: blur(4px);
  transform: scale(1.1); /* évite les bordures de flou */
  z-index: -1; /*anim permis*/
}

.title_restaurant hgroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8ch;
  font-family: "Black Han Sans", sans-serif;
  font-size: var(--font-size-5);
}

.title_restaurant  h1>span{
  font-family: "Montserrat", sans-serif;
}
.blue {
  color: var(--dark-blue);
}
.red {
  color: var(--red);
}

.search_content {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
}

.search_bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 8px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 58vh;
}
.search_bar i {
  font-size: 18px;
  color: #888;
  background: #eee;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.search_bar input {
  flex: 1; /* occupe tout l’espace restant */
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}
.icon_content {
  display: flex;
  flex-direction: row;
  background-color: #252422;
}

.multi-cards{
  display: flex;
  flex-direction: row;
}
.resto_content {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: var(--x-beige);
}


/* GRID RESTO */
.resto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    width: 500px; /* Ajuste selon ton besoin */
}

/* Les cartes resto */
.info-resto {
    background: #fff;
    padding: 20px;
    width: 25vh;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
}

.info-resto:hover{
  transform: translateY(-7px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.info-resto img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.info-resto h3 {
    margin: 8px 0 5px 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.stars {
    color: #f0c200; /* couleur étoile dorée */
    font-size: 18px;
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
}
footer div img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
footer div p {
  margin-top: var(--font-size-2b);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-1b);
  font-weight: 600;
  color: white;
}
.download_cta {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-2b);
  margin-top: var(--font-size-3);
}
.download_cta a {
  font-weight: bold;
  text-decoration: none;
  background-color: var(--dark-blue);
  padding: 10px;
  color: #fff;
  font-size: var(--font-size-1b);
  box-sizing: border-box;
  display: block;
  text-wrap: wrap;
  width: 70%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.download_cta a i {
  margin-right: var(--font-size-2b);
}
.column {
  font-family: "Black Han Sans", sans-serif;
  font-size: var(--font-size);
}
.column ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 10px;
  margin-top: var(--font-size);
}
.column ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: var(--font-size-2b);
}
.column a {
  text-decoration: none;
  color: white;
}
hr {
  width: 50%;
  border: 1px solid #fff;
  margin-inline: auto;
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  color: white;
  padding-block: 1rem;
}
.copyright span {
  font-weight: bold;
  margin-left: 5px;
}
.side {
  display: flex;
  flex-direction: row;
}
ul li .mail {
  text-decoration: underline;
}
.incon_content span {
  font-family: "Montserrat", sans-serif;
}
iframe {
  border-radius: 15px;
  box-shadow: 0 0 7px #777777;
}
/*fin projet aruchiwa*/
main,footer {
  animation: fade 0.7s ease-out;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  60% {
    opacity: .4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}