* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
:root {
  /* --- MAIN COLORS --- */
  --dark-blue: #2b2e7e;
  --light-blue: #4f518a;
  --x-beige: #fcf0ec;
  --red: #e40512;
  --x-black: #1c1c1c;

  /* --- FONT SIZES --- */

  /* below the base */
  --font-size-2b: 0.625rem;
  --font-size-1b: 0.8125rem;

  /* the base */
  --font-size: 1rem;

  /* above the base */
  --font-size-1: 1.25rem;
  --font-size-2: 1.5625rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3.1875rem;
  --font-size-6: 4rem;
  --font-size-7: 5rem;

  /* --- LINE HEIGHTS --- */

  /* below the base */
  --line-height-2b: 2;
  --line-height-1b: 1.5385;

  /* the base */
  --line-height: 1.5;

  /* above the base */
  --line-height-1: 1.4;
  --line-height-2: 1.28;
  --line-height-3: 1.25;
  --line-height-4: 1.2;
  --line-height-5: 1.1765;
  --line-height-6: 1.125;

  /* --- LETTER SPACING --- */

  /* below the base */
  --letter-space-2b: 0.074em;
  --letter-space-1b: 0.05em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.022em;
  --letter-space-2: 0.0116em;
  --letter-space-3: 0.0025em;
  --letter-space-4: -0.004em;
  --letter-space-5: -0.0096em;
  --letter-space-6: -0.0137em;
}
header img {
  background-color: var(--x-beige);
  border-radius: 10px;
  margin-left: var(--font-size-2);
  aspect-ratio: 1/1;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 0.52rem;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: var(--letter-space-2b);
  position: fixed;
  z-index: 1;
  width: 100vw;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 100%;
}
header ul li {
  list-style: none;
  height: 100%;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  transition: transform 0.15s ease;
}
header ul li a:hover {
    transform: scale(1.03) !important;
    font-weight: 700;
    color: #e40510b3;
}
.active {
  color: var(--red);
}
.cta_reservation_section {
  position: relative;
  background-color: var(--light-blue);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all ease 0.2s;
  margin-right: var(--font-size-2);
}
.cta_reservation_section:hover {
  background-color: #5053ac;
}
.new_feat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2ch;
}
.new {
  background-color: rgb(2, 182, 2);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
}
.hero {
  /*-Les divs en row-*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  place-items: center;
  padding-top: 8vh;
  background-image: url("images/paint_2.svg");
  background-position: bottom bottom;
  background-size: contain;
}
.hero_image {
  width: 100%;
}
.hero_image img {
  width: 90%;
}
.hero h1 {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-7);
  gap: 1rem;
}
.hero-p {
  margin-bottom: var(--font-size-1);
  font-family: "Black Han Sans", sans-serif;
  color: var(--x-black);
  line-height: var(--line-height-3);
}
.subtitle {
  font-family: "Montserrat", sans-serif;
}
.hero h1 span {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: var(--letter-space-6);
  align-self: flex-start;
}
.span_blue {
  color: var(--dark-blue);
}
.span_red {
  color: var(--red);
}
.hero_text {
  /*-Celui en column-*/
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 320px;
}
.cta_command {
  font-family: "Montserrat", sans-serif;
  background-color: #ffc43d;
  padding: 14px 10px;
  margin-top: 20px;
  border-radius: 15px;
  width: fit-content;
  font-weight: 500px;
  font-weight: bold;
  cursor: pointer;
}
.cta_command a {
  text-decoration: none;
  color: var(--x-black);
  transition: all 0.15s ease;
}
.cta_command:hover {
  transform: translateY(-2px);
}
.carroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}
.carroussel_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: var(--font-size);
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  padding: 0 20px;
  scrollbar-width: none;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-top: var(--font-size-4);
}
.carroussel_container::-webkit-scrollbar {
  display: none;
}
.carroussel_item {
  width: 20%;
  aspect-ratio: 3/4;
  border-radius: 10px;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin-block: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0 0 4px #777777;
}
.carroussel_item img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 80px);
  border-radius: 10px 10px 0 0;
}
.card_content {
  padding: 0 var(--font-size);
  width: 100%;
  height: 80px;
  border-radius: 0 0 10px 10px;
  background-color: hsla(238, 49%, 33%, 1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_content h3 {
  font-size: var(--font-size);
  color: white;
  font-weight: 800;
}
.card_content p {
  align-self: flex-end;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10px;
}
/*SPICY-Adding the css of the menu cta*/

.cta_menu {
  display: flex;
  justify-content: center;
  margin-top: var(--font-size-4);
}
.cta_menu a {
  font-family: "Montserrat", sans-serif;
  background-color: var(--red);
  padding: 14px 20px;
  border-radius: 15px;
  width: fit-content;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.cta_menu a:hover {
  background-color: #b4040a;
}
.title {
  text-align: center;
  margin-block: var(--font-size-1b);
}
#resto {
  background-color: var(--dark-blue);
  padding-inline: 40px;
  padding-block: 40px calc(40px + var(--font-size-1b));
}
#resto .title {
  text-align: left;
  margin-left: var(--font-size-6);
  color: white;
}
.title h2 {
  font-family: "Black Han Sans", sans-serif;
  font-size: var(--font-size-3);
}
.title p {
  font-family: "Montserrat", sans-serif;
}
.inline_cluster {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--font-size-2);
  margin-top: var(--font-size-4);
  width: 90%;
  margin-left: var(--font-size-6);
}
.grid_item {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #4f518a;
  border-radius: 10px;
}
.grid_item img {
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
#why,
#restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  padding-bottom: 40px;
}
#why .title,
#restaurant .title {
  text-align: left;
  padding-top: 40px;
  text-wrap: wrap;
  max-width: 80%;
  line-height: var(--line-height-1b);
}
#why .title p,
#restaurant .title p {
  margin-top: var(--line-height-2b);
  line-height: var(--line-height);
  font-size: var(--font-size);
}
.title a {
  color: #1c1c1c;
  background-color: var(--light-blue);
  width: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  padding: 20px;
  border-radius: 10px;
  margin-top: var(--font-size-1);
  color: white;
}
#why img,
#restaurant img {
  max-height: 46vh;
  min-height: 400px;
  border-radius: 30px;
  display: inline-block;
}
#restaurant .img {
  display: flex;
  justify-content: center;
}
#restaurant img:hover, #why img:hover, .slide_item:hover, .carroussel_item:hover, .grid_item img:hover, a:hover {
  transform: scale(1.03);
}
#restaurant img, #why img, .slide_item, .carroussel_item, .grid_item img, a {
  transition: transform .1s ease;
}
.image {
  padding: 40px;
}
#restaurant {
  background-color: var(--x-beige);
  padding: 40px;
}
#restaurant .title {
  text-align: left;
  margin-left: var(--font-size-6);
}
#restaurant .title h2 {
  line-height: var(--line-height-1);
}
#feedback {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title p:nth-of-type(3) {
  padding-top: var(--font-size-2b);
}
.title p:nth-of-type(4) {
  padding-top: var(--font-size-2b);
}
#infinite_carrousel {
  display: flex;
  flex-direction: row;
  width: 75%;
  overflow-x: scroll;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 4%,
    rgba(0, 0, 0, 1) 96%,
    rgba(0, 0, 0, 0) 100%
  );
  scrollbar-width: none;
  margin-top: var(--font-size-4);
}
.group {
  display: flex;
  flex-direction: row;
  gap: var(--font-size);
  flex: 0 0 1;
  animation: spin 15s linear infinite;
}
.slide_item {
  background-color: var(--dark-blue);
  flex-shrink: 0;
  max-height: 440px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 4px #777777;
}
.slide_item img {
  max-height: 440px;
  border-radius: 20px;
}
.group:nth-child(1) {
  margin-right: var(--font-size);
}
@keyframes spin {
  to {
    translate: -100%;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
}
footer div img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
footer div p {
  margin-top: var(--font-size-2b);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-1b);
  font-weight: 600;
  color: white;
}
.download_cta {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-2b);
  margin-top: var(--font-size-3);
}
.download_cta a {
  font-weight: bold;
  text-decoration: none;
  background-color: var(--dark-blue);
  padding: 10px;
  color: #fff;
  font-size: var(--font-size-1b);
  box-sizing: border-box;
  display: block;
  text-wrap: wrap;
  width: 70%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.download_cta a i {
  margin-right: var(--font-size-2b);
}
.column {
  font-family: "Black Han Sans", sans-serif;
  font-size: var(--font-size);
}
.column ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 10px;
  margin-top: var(--font-size);
}
.column ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: var(--font-size-2b);
}
.column a {
  text-decoration: none;
  color: white;
}
hr {
  width: 50%;
  border: 1px solid #fff;
  margin-inline: auto;
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
  color: white;
  padding-block: 1rem;
}
.copyright span {
  font-weight: bold;
  margin-left: 5px;
}
.side {
  display: flex;
  flex-direction: row;
}
ul li .mail {
  text-decoration: underline;
}
